
<body class="nk-body bg-lighter npc-default has-sidebar " style="font-family: 'Ubuntu', sans-serif;">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">

            <div class="nk-wrap ">
                <!-- main header @s -->

                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="components-preview wide-md mx-auto">
                                    <div class="nk-block-head nk-block-head-lg wide-sm">
                                        <div class="nk-block-head-content">
                                            <div class="nk-block-head-sub"><a class="back-to"
                                                    href="/"><em
                                                        class="icon ni ni-arrow-left"></em><span>Volver a Unidad
                                                        1</span></a>
                                            </div>
                                            <h2 class="nk-block-title fw-normal">Unidad 1 - Banco de Preguntas</h2>
                                            <div class="nk-block-des">
                                                <p class="lead">Para el banco de preguntas de la unidad uno, puedes
                                                    agregar nuevas
                                                    preguntas para la evaluacion de la unidad uno - Introducion a
                                                    Analisis de Sistema,
                                                    por favor,Actualiza la informacion de la pregunta
                                                </p>
                                            </div>
                                        </div>
                                    </div><!-- .nk-block-head -->

                                    <div class="card card-bordered card-preview">
                                        <div class="card-inner">
                                            <div class="preview-block">
                                                <span class="preview-title-lg overline-title">BANCO DE PREGUNTAS</span>
                                                <div class="row gy-4">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="default-01">ID
                                                                Evaluacion</label>
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control focus" name="idEvaAsoc"
                                                                    value="1" placeholder="Input placeholder" readonly
                                                                    disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">

                                                            <div class="form-group">
                                                                <label class="form-label" for="default-01">Codigo de
                                                                    Docente</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" class="form-control focus" id="5"
                                                                        value="5" placeholder="Input placeholder"name="idocente"
                                                                        readonly disabled>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="default-03">Defina un nivel
                                                                dificultad (1-3)</label>
                                                            <div class="form-control-wrap">
                                                                <div class="form-icon form-icon-left">
                                                                    <em class="icon ni ni-user"></em>
                                                                </div>
                                                                <input type="number" name="dificultad" class="form-control"
                                                                    id="default-03" placeholder="1-3">
                                                            </div>

                                                            <label class="form-label" for="default-06">Selecciona un
                                                                tipo de Pregunta</label>
                                                            <div class="form-control-wrap ">
                                                                <div class="form-control-select">
                                                                    <select class="form-control" id="default-06" name="tipoPregunta">
                                                                        <option value="selectOne">Seleccion unica
                                                                        </option>
                                                                        <option value="selectMulti">Seleccion Multiple
                                                                        </option>
                                                                        <option value="answerWrite">Respuesta Escrita
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>


                                                        </div>

                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="default-textarea">Enunciado
                                                                de la pregunta </label>
                                                            <div class="form-control-wrap">
                                                                <textarea class="form-control no-resize" name="enunciado"
                                                                    id="default-textarea">Maximo 1024 caracteres</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="default-01">Opcion A</label>
                                                            <div class="form-control-wrap">
                                                                <div class="form-icon form-icon-left">
                                                                    <em class="icon ni ni-text-a"></em>
                                                                </div>
                                                                <input type="text" class="form-control" id="101"
                                                                    value="101" placeholder="ingresa una opcion"
                                                                    required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">

                                                            <div class="form-group">
                                                                <label class="form-label" for="default-01">Opcion
                                                                    B</label>
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-left">
                                                                        <em class="icon ni ni-bold"></em>
                                                                    </div>
                                                                    <input type="text" class="form-control" id="5"
                                                                        value="5" placeholder="ingresa una opcion"
                                                                        required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    </br>


                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="default-01">Opcion C</label>
                                                            <div class="form-control-wrap">
                                                                <div class="form-icon form-icon-left">
                                                                    <em class="icon ni ni-sign-euro"></em>
                                                                </div>
                                                                <input type="text" class="form-control" id="101"
                                                                    value="101" placeholder="ingresa una opcion"
                                                                    required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">

                                                            <div class="form-group">
                                                                <label class="form-label" for="default-01">Opcion
                                                                    D</label>
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-left">
                                                                        <em class="icon ni ni-sign-vnd"></em>
                                                                    </div>
                                                                    <input type="text" class="form-control" id="5"
                                                                        value="5" placeholder="ingresa una opcion"
                                                                        required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">

                                                            <label class="form-label" for="default-06">Selecciona un
                                                                la opcion correcta</label>
                                                            <div class="form-control-wrap ">

                                                                <div class="form-control-select">
                                                                    <div class="form-icon form-icon-left">
                                                                        <em class="icon ni ni-thumbs-up"></em>
                                                                    </div>
                                                                    <select class="form-control" id="default-06">
                                                                        <option value="a">Opcion A
                                                                        </option>
                                                                        <option value="b">Opcion B
                                                                        </option>
                                                                        <option value="c">Opcion C
                                                                        </option>
                                                                        <option value="d">Opcion D
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>


                                                        </div>

                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="form-label"
                                                                for="default-textarea">Retroalimentacion</label>

                                                            <div class="form-control-wrap">
                                                                <div class="form-icon form-icon-left">
                                                                    <em class="icon ni ni-star-fill"></em>
                                                                </div>
                                                                <textarea class="form-control no-resize"
                                                                    id="default-textarea" name="retroalimentacion">Digite el motivo de la respuesta</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <a href="#" class="btn btn-primary"><em
                                                                    class="icon ni ni-question"></em><span>Agregar
                                                                    pregunta</span> </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- JavaScript -->

            <script src="js/bundle.js"></script>
            <script src="js/scripts.js"></script>
</body>

</html>