<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="robots" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
  <meta property="og:title" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
  <meta property="og:description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
  <meta name="format-detection" content="telephone=no">
  <!-- PAGE TITLE HERE -->
  <title>WMEDOVA AYD</title>
  <link href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style1.css">

</head>
{{> header}}

<body>
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <h3>ANALISIS Y DISEÑO</h3>
        <h3>DE SISTEMAS </h3>
        <p>El análisis y diseño de sistemas es un proceso utilizado para desarrollar soluciones tecnológicas efectivas y
          eficientes a problemas empresariales y de la sociedad. El análisis de sistemas implica identificar los
          requisitos y necesidades del usuario, y el diseño de sistemas implica la creación de una solución tecnológica
          que satisfaga estos requisitos.</p>
        <p> El propósito o necesidad educativa que se busca satisfacer con el objeto virtual de aprendizaje para la
          materia de Análisis y Diseño de Sistemas es mejorar el proceso de enseñanza y aprendizaje de los estudiantes
          de Ingeniería de Sistemas, mediante la utilización de herramientas tecnológicas que les permitan comprender y
          aplicar de manera efectiva los conceptos y temas fundamentales de la materia.</p>

        <div class="form-group text-left mb-5 forget-main text-center">
          <span class="form-check d-inline-block">
            <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
          </span>
          <button type="submit" class="btn btn-danger">Sign Me In</button>
        </div>
        <p>Acepta terminos y condiciones politicas de privacidad software educativo UFPS 2023</p>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="./images/Principal/system01-original.png" alt="Card Front">
            </div>
            <div class="card-back">
              <p>Tema</p>
              <p>Actividades</p>
              <p>Evaluacion</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="./images/Principal/desarrollo-software.jpg" alt="Card Front">
            </div>
            <div class="card-back">
              <p>Tema</p>
              <p>Actividades</p>
              <p>Evaluacion</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="./images/Principal/website.png" alt="Card Front">
            </div>
            <div class="card-back">
              <p>Tema</p>
              <p>Actividades</p>
              <p>Evaluacion</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="./images/Principal/trocass.png" alt="Card Front">
            </div>
            <div class="card-back">
              <p>Tema</p>
              <p>Actividades</p>
              <p>Evaluacion</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
{{> footer}}
</html>